Repository keisler-au/web-resume: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, prettier, eslint

.pre-commit-config.yaml:

exclude: 'node_modules/'


repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml

  - repo: local
    hooks:
      - id: isort
        name: isort
        language: system
        files: \.py$
        entry: bash -c "cd backend && poetry run isort ."

  - repo: local
    hooks:
      - id: black
        name: black
        language: system
        files: \.py$
        entry: bash -c "cd backend && poetry run black ."

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        language: system
        files: \.py$
        entry: bash -c "cd backend && poetry run pylint ."

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        files: \.(j|t)sx?|css|html|md|json$
        entry: bash -c "cd frontend && npx prettier . --write"

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        language: system
        files: \.[jt]sx?$
        entry: bash -c "cd frontend && npx eslint . --fix"
fail_fast: true

fix - Nginx routing
  .github/workflows/deploy.yaml
  backend/app/settings.py
  frontend/Dockerfile
  frontend/nginx/default.conf
  frontend/src/components/Content.tsx
  frontend/src/fixtures/data.json
  nginx.conf
Due: isort, black, pylint, prettier, eslint

chore - Added logging
  backend/.pylintrc
  backend/app/settings.py
  backend/email_service/views.py
Due: isort, black, pylint

chore Added logging
  .github/workflows/deploy.yaml
  backend/.pylintrc
  backend/email_service/views.py
Due: isort, black, pylint

chore Added logging
  backend/email_service/views.py
Due: isort, black, pylint

chore Added logging
  .github/workflows/deploy.yaml
  backend/email_service/views.py
Due: isort, black, pylint

chore Added logging
  backend/app/settings.py
Due: isort, black, pylint

chore Added logging
  .github/workflows/deploy.yaml
Due: none

feature - Added contact icons and refactored frontend components
  .github/workflows/deploy.yaml
  backend/app/settings.py
  frontend/src/App.tsx
  frontend/src/components/Contact.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/Home.tsx
  frontend/src/components/NavBar.tsx
  frontend/src/components/PageLayout.tsx
  frontend/src/components/Projects.tsx
  frontend/src/components/TabbedCards.tsx
  frontend/src/constants.ts
  frontend/src/fixtures/data.json
Due: isort, black, pylint, prettier, eslint

feature - Added contact icons and refactored frontend components
  .github/workflows/deploy.yaml
  frontend/src/components/PageLayout.tsx
Due: prettier, eslint

feature - Added contact icons and refactored frontend components
  frontend/src/components/TabbedCards.tsx
  frontend/src/fixtures/data.json
Due: prettier, eslint

feature - Added contact icons and refactored frontend components
  frontend/src/App.tsx
  frontend/src/components/Home.tsx
  frontend/src/components/TabbedCards.tsx
Due: prettier, eslint

chore - Removed unused imports
  frontend/src/components/Contact.tsx
  frontend/src/components/TabbedCards.tsx
Due: prettier, eslint

chore - Removed redundant styling
  frontend/src/App.tsx
  frontend/src/components/Contact.tsx
  frontend/src/components/Home.tsx
  frontend/src/components/NavBar.tsx
  frontend/src/components/PageLayout.tsx
  frontend/src/components/TabbedCards.tsx
Due: prettier, eslint

Refactored components
  backend/content/migrations/0002_auto_20241225_2036.py
  frontend/public/cv_photo.jpg
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/components/Contact.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/Home.tsx
  frontend/src/components/NavBar.tsx
  frontend/src/components/PageLayout.tsx
  frontend/src/components/TabbedCards.tsx
  frontend/src/fixtures/data.json
  frontend/src/theme.tsx
Due: isort, black, pylint, prettier, eslint

Refactored components
  frontend/src/fixtures/data.json
Due: prettier

Refactored components
  frontend/src/tests/Contact.test.tsx
Due: prettier, eslint

feature - Added About Me page
  frontend/public/bjj.jpg
  frontend/public/europe.jpg
  frontend/src/App.tsx
  frontend/src/components/AboutMe.tsx
  frontend/src/components/Contact.tsx
  frontend/src/components/DetailedParagraphs.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/Home.tsx
  frontend/src/components/NavBar.tsx
  frontend/src/components/TabbedCards.tsx
  frontend/src/fixtures/data.json
Due: prettier, eslint

feature - Added Photos
  frontend/public/graduate_position.jpg
  frontend/public/operational_support.jpg
  frontend/public/software_developer.jpg
  frontend/public/university.jpg
  frontend/src/App.tsx
  frontend/src/components/AboutMe.tsx
  frontend/src/components/DetailedParagraphs.tsx
  frontend/src/components/Home.tsx
  frontend/src/components/TabbedCards.tsx
  frontend/src/fixtures/Untitled-1
  frontend/src/fixtures/data.json
Due: prettier, eslint

feature - Added references
  frontend/src/App.tsx
  frontend/src/components/TabbedCards.tsx
  frontend/src/fixtures/Untitled-1
  frontend/src/fixtures/data.json
Due: prettier, eslint

feature - Added references
  frontend/src/components/TabbedCards.tsx
Due: prettier, eslint

feature - Experience Timeline
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/src/components/ExperienceTimeline.tsx
  frontend/src/components/Home.tsx
  frontend/src/fixtures/data.json
Due: prettier, eslint

feature - Flattened tabs
  frontend/public/bhp_operational_support.jpg
  frontend/public/bhp_software_developer.jpg
  frontend/public/curtin_university.jpg
  frontend/public/infosys_graduate_position.jpg
  frontend/src/App.tsx
  frontend/src/components/AboutMe.tsx
  frontend/src/components/Contact.tsx
  frontend/src/components/DetailedParagraphs.tsx
  frontend/src/components/ExperienceTimeline.tsx
  frontend/src/components/GenericCard.tsx
  frontend/src/components/GenericPage.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/Home.tsx
  frontend/src/components/NavBar.tsx
  frontend/src/components/TabbedCards.tsx
  frontend/src/components/TechnicalSkillButtons.tsx
  frontend/src/fixtures/data.json
  frontend/src/theme.tsx
Due: prettier, eslint

Photo positioning and resizing
  frontend/public/bingo_home.jpg
  frontend/public/bingo_publish.jpg
  frontend/public/calm_and_connected.jpg
  frontend/public/pytorch.jpg
  frontend/src/components/GenericCard.tsx
  frontend/src/fixtures/data.json
Due: prettier, eslint

feature - parralax type scrolling
  frontend/src/components/Contact.tsx
  frontend/src/components/ContactChildren.tsx
  frontend/src/components/GenericCard.tsx
  frontend/src/components/GenericPage.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/Home.tsx
Due: prettier, eslint

feature - Added icons and description placeholders
  frontend/src/components/ExperienceTimeline.tsx
  frontend/src/components/GenericCard.tsx
  frontend/src/components/GenericPage.tsx
  frontend/src/components/Home.tsx
  frontend/src/components/TechnicalSkillButtons.tsx
  frontend/src/fixtures/data.json
  package-lock.json
  package.json
Due: prettier, eslint

feature - Added bullet points and updated Experience text
  frontend/public/bingo_play.jpg
  frontend/src/App.tsx
  frontend/src/components/GenericCard.tsx
  frontend/src/fixtures/data.json
Due: prettier, eslint

Updated Experience and Technical Skills text descriptions
  frontend/src/components/GenericCard.tsx
  frontend/src/fixtures/data.json
Due: prettier, eslint

chore - Text data update
  frontend/src/fixtures/data.json
Due: prettier

fix - column centering
  frontend/src/components/GenericCard.tsx
Due: prettier, eslint

Updated data transformation and analysis for Psych section
  frontend/src/fixtures/data.json
Due: prettier

chore - updated bingo app photos
  frontend/public/bingo_home.jpg
  frontend/public/bingo_play.jpg
  frontend/public/bingo_publish.jpg
Due: none

CV photo to link preview
  frontend/public/index.html
Due: prettier
