Repository keisler-au/web-resume: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, prettier, eslint

isort:
  name: isort
  language: system
  entry: bash -c "cd backend && poetry run isort ."

black:
  name: black
  language: system
  entry: bash -c "cd backend && poetry run black ."

pylint:
  name: pylint
  language: system
  entry: bash -c "cd backend && poetry run pylint ."

prettier:
  name: prettier
  language: system
  entry: bash -c "cd frontend && npx prettier . --write --log-level warn"

eslint:
  name: eslint
  language: system
  entry: bash -c "cd frontend && npx eslint . --fix"

Test 24
  .github/workflows/deploy.yml
Due: none

Test 25
  .github/workflows/deploy.yml
Due: none

Test 26
  .github/workflows/deploy.yml
Due: none

Docker images with servers
  backend/Dockerfile
  backend/poetry.lock
  backend/pyproject.toml
  docker-compose.yml
  frontend/Dockerfile
Due: none

production images
  .github/workflows/deploy.yml
Due: none

Test 30
  backend/Dockerfile
  docker-compose.yml
  frontend/Dockerfile
Due: none

test 31
  .github/workflows/deploy.yml
  docker-compose.yml
Due: none

Test 32
  backend/Dockerfile
Due: none

Test 33
  .github/workflows/deploy.yml
  docker-compose.yml
Due: none

test 34
  .github/workflows/deploy.yml
Due: none

Django is running!
  backend/app/settings.py
Due: isort, black, pylint

Django prod port number
  backend/Dockerfile
  frontend/src/constants.ts
Due: prettier, eslint

final before frontend redesign
  .github/workflows/deploy.yml
  frontend/Dockerfile
Due: none

Design ready
  .github/workflows/deploy.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/resolveTest.js
  frontend/src/App.tsx
  frontend/src/components/AboutMe.tsx
  frontend/src/components/Contact.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/Home.tsx
  frontend/src/components/Logo.tsx
  frontend/src/components/NavBar.tsx
  frontend/src/components/PageLayout.tsx
  frontend/src/components/Projects.tsx
  frontend/src/components/Psychology.tsx
  frontend/src/components/SelfTaught.tsx
  frontend/src/components/TabbedCards.tsx
  frontend/src/components/WebResume.tsx
  frontend/src/components/WorkExperience.tsx
  frontend/src/index.tsx
  frontend/src/slider-styles.css
  frontend/src/tests/SelfTaught.test.tsx
  frontend/src/theme.tsx
  frontend/tsconfig.json
Due: prettier, eslint

functioning layout
  frontend/public/Mountain.jpg
  frontend/public/contact.webp
  frontend/public/psychology.png
  frontend/public/psychology.webp
  frontend/public/selfTaught.png
  frontend/public/selfTaught.webp
  frontend/public/selfTaughtFaded.png
  frontend/public/webResume.webp
  frontend/public/workExperience.webp
  frontend/src/components/AboutMe.tsx
  frontend/src/components/Contact.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/Home.tsx
  frontend/src/components/NavBar.tsx
  frontend/src/components/PageLayout.tsx
  frontend/src/components/Projects.tsx
  frontend/src/components/TabbedCards.tsx
  frontend/src/components/WorkExperience.tsx
Due: prettier, eslint

Typing fixes
  frontend/src/App.tsx
  frontend/src/components/Contact.tsx
  frontend/src/components/Content.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/PageLayout.tsx
  frontend/src/components/Projects.tsx
  frontend/src/components/TabbedCards.tsx
Due: prettier, eslint

VPS Deploy 1
  .github/workflows/deploy.yaml
  backend/app/urls.py
  backend/content/migrations/0002_auto_20241225_2036.py
  compose.override.yaml
  compose.yaml
  frontend/.eslintrc.js
  frontend/package.json
  frontend/public/locales/en/base.json
  frontend/resolveTest.js
  frontend/src/App.tsx
  frontend/src/components/Contact.tsx
  frontend/src/components/Content.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/Home.tsx
  frontend/src/components/PageLayout.tsx
  frontend/src/components/Projects.tsx
  frontend/src/components/TabbedCards.tsx
  frontend/src/i18n.ts
  frontend/src/index.tsx
  frontend/src/setupTests.ts
  frontend/src/tests/Contact.test.tsx
  frontend/src/tests/Content.test.tsx
  frontend/src/theme.tsx
  nginx.conf
  production.yaml
Due: isort, black, pylint, prettier, eslint

Deploy on push
  .github/workflows/deploy.yaml
Due: none

Change to linuxuser
  .github/workflows/deploy.yaml
Due: none

sudo docker vps
  .github/workflows/deploy.yaml
Due: none

no prune
  .github/workflows/deploy.yaml
  frontend/public/index.html
Due: prettier

push images to dockerhub
  .github/workflows/deploy.yaml
  frontend/public/JK.webp
  frontend/public/index.html
Due: prettier

separate frontend test container
  .github/workflows/deploy.yaml
  backend/Dockerfile
  frontend/Dockerfile
Due: none

something
  .github/workflows/deploy.yaml
Due: none

on push
  .github/workflows/deploy.yaml
Due: none

docker-compose on vps
  .github/workflows/deploy.yaml
Due: none

docker push
  .github/workflows/deploy.yaml
  compose.yaml
Due: none

docker push
  .github/workflows/deploy.yaml
Due: none

docker push
  compose.yaml
Due: none

1
  .github/workflows/deploy.yaml
  compose.yaml
Due: none

work please
  .github/workflows/deploy.yaml
  compose.yaml
Due: none

changes
  .github/workflows/deploy.yaml
  compose.yaml
  nginx.conf
  production.yaml
Due: none

no env
  compose.yaml
Due: none

443
  production.yaml
Due: none

backend
  backend/app/settings.py
  nginx.conf
Due: isort, black, pylint

Email styling and migration on deploy
  .github/workflows/deploy.yaml
  frontend/src/components/Contact.tsx
  frontend/src/components/PageLayout.tsx
Due: prettier, eslint

Responsive Design
  frontend/src/components/Contact.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/Home.tsx
  frontend/src/components/NavBar.tsx
  frontend/src/components/PageLayout.tsx
  frontend/src/components/Projects.tsx
  frontend/src/components/TabbedCards.tsx
  frontend/src/slider-styles.css
Due: prettier, eslint

About Me Photo
  frontend/src/components/NavBar.tsx
  frontend/src/components/PageLayout.tsx
  frontend/src/slider-styles.css
Due: prettier, eslint

fixture data
  backend/content/migrations/0002_auto_20241225_2036.py
  frontend/public/cv_photo.jpg
  frontend/src/App.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/Home.tsx
  frontend/src/components/NavBar.tsx
  frontend/src/components/PageLayout.tsx
  frontend/src/components/TabbedCards.tsx
  frontend/src/fixtureData.json
Due: isort, black, pylint, prettier, eslint

Path conditions:
  isort: any of: \.py$, but not: node_modules/
  black: any of: \.py$, but not: node_modules/
  pylint: any of: \.py$, but not: node_modules/
  prettier: any of: \.(j|t)sx?|css|html|md|json$, but not: node_modules/
  eslint: any of: \.[jt]sx?$, but not: node_modules/
