Repository keisler-au/web-resume: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, prettier, eslint

isort:
  name: isort
  language: system
  entry: bash -c "cd backend && poetry run isort ."

black:
  name: black
  language: system
  entry: bash -c "cd backend && poetry run black ."

pylint:
  name: pylint
  language: system
  entry: bash -c "cd backend && poetry run pylint ."

prettier:
  name: prettier
  language: system
  entry: bash -c "cd frontend && npx prettier . --write --log-level warn"

eslint:
  name: eslint
  language: system
  entry: bash -c "cd frontend && npx eslint . --fix"

Pre-commit, frontend and backend integration, first database migration
  .gitignore
  .pre-commit-config.yaml
  backend/.pylintrc
  backend/Dockerfile
  backend/app/settings.py
  backend/app/urls.py
  backend/descriptions/admin.py
  backend/descriptions/migrations/0001_initial.py
  backend/descriptions/migrations/0002_description_page_reference.py
  backend/descriptions/migrations/0003_rename_page_reference_description_page.py
  backend/descriptions/migrations/__init__.py
  backend/descriptions/models.py
  backend/descriptions/serializers.py
  backend/descriptions/tests.py
  backend/descriptions/urls.py
  backend/descriptions/views.py
  backend/poetry.lock
  backend/pyproject.toml
  docker-compose.yml
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/Description.tsx
  frontend/src/components/DisplayData.tsx
  frontend/src/components/Errors.tsx
  frontend/src/components/Home.tsx
  frontend/src/components/InfosysBHP.tsx
  frontend/src/components/NavBar.tsx
  frontend/src/constants.tsx
  frontend/src/locales/en.json
  frontend/src/setupTests.ts
Due: isort, black, pylint, prettier, eslint

Description test and functioning i18n
  backend/descriptions/tests.py
  frontend/.eslintrc.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/locales/en/base.json
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/src/App.tsx
  frontend/src/components/Description.tsx
  frontend/src/components/Errors.tsx
  frontend/src/components/NavBar.tsx
  frontend/src/constants.ts
  frontend/src/constants.tsx
  frontend/src/i18n.ts
  frontend/src/index.tsx
  frontend/src/locales/en.json
  frontend/src/setupTests.ts
  frontend/src/tests/App.test.tsx
  frontend/src/tests/Description.test.tsx
Due: isort, black, pylint, prettier, eslint

WeatherApp and Contact configured
  .pre-commit-config.yaml
  backend/app/settings.py
  backend/app/urls.py
  backend/email_service/__init__.py
  backend/email_service/apps.py
  backend/email_service/migrations/__init__.py
  backend/email_service/serializers.py
  backend/email_service/tests.py
  backend/email_service/urls.py
  backend/email_service/views.py
  backend/poetry.lock
  backend/pyproject.toml
  frontend/package-lock.json
  frontend/package.json
  frontend/public/locales/en/base.json
  frontend/src/App.tsx
  frontend/src/components/Contact.tsx
  frontend/src/components/Description.tsx
  frontend/src/components/RentalApp.tsx
  frontend/src/components/WeatherApp.tsx
  frontend/src/setupTests.ts
  frontend/src/tests/Contact.test.tsx
  frontend/src/tests/Description.test.tsx
  frontend/src/tests/WeatherApp.test.tsx
Due: isort, black, pylint, prettier, eslint

WeatherApp and Descriptions Review
  backend/app/settings.py
  backend/email_service/views.py
  backend/poetry.lock
  backend/pyproject.toml
  frontend/public/locales/en/base.json
  frontend/src/components/WeatherApp.tsx
  frontend/src/tests/Contact.test.tsx
  frontend/src/tests/Description.test.tsx
  frontend/src/tests/WeatherApp.test.tsx
Due: isort, black, pylint, prettier, eslint

Contact functionality and UI
  backend/app/settings.py
  backend/email_service/views.py
  docker-compose.yml
  frontend/package.json
  frontend/public/locales/en/base.json
  frontend/src/components/Contact.tsx
  frontend/src/tests/Contact.test.tsx
Due: isort, black, pylint, prettier, eslint

stashed changes 1
  backend/app/settings.py
  frontend/public/locales/en/base.json
  frontend/src/components/Contact.tsx
  frontend/src/setupTests.ts
  frontend/src/tests/Contact.test.tsx
  frontend/src/tests/Description.test.tsx
Due: isort, black, pylint, prettier, eslint

stashed changes 2
  frontend/src/components/Contact.tsx
  frontend/src/tests/Contact.test.tsx
Due: prettier, eslint

Contact tests successful
  backend/app/settings.py
  backend/email_service/serializers.py
  backend/email_service/tests.py
  backend/email_service/views.py
  frontend/package-lock.json
  frontend/public/locales/en/base.json
  frontend/src/App.tsx
  frontend/src/components/Contact.tsx
  frontend/src/components/WeatherApp.tsx
  frontend/src/tests/App.test.tsx
  frontend/src/tests/Contact.test.tsx
Due: isort, black, pylint, prettier, eslint

Pylint pre-commit hook enabled
  .pre-commit-config.yaml
Due: none

Pylint run
  backend/.pylintrc
  backend/email_service/tests.py
  backend/email_service/views.py
Due: isort, black, pylint

Homepage layout and sytles
  frontend/public/Mountain.jpg
  frontend/src/App.tsx
  frontend/src/components/Description.tsx
  frontend/src/components/Errors.tsx
  frontend/src/components/Home.tsx
  frontend/src/components/Infosys.tsx
  frontend/src/components/InfosysBHP.tsx
  frontend/src/tests/App.test.tsx
Due: prettier, eslint

Updated header and data migration
  backend/.pylintrc
  backend/descriptions/migrations/0004_alter_description_page.py
  backend/descriptions/migrations/0005_auto_20241126_2133.py
  backend/descriptions/models.py
  backend/descriptions/urls.py
  backend/descriptions/views.py
  frontend/src/App.tsx
  frontend/src/components/Contact.tsx
  frontend/src/components/Description.tsx
  frontend/src/components/Home.tsx
  frontend/src/components/Infosys.tsx
  frontend/src/components/Psychology.tsx
  frontend/src/components/SelfTaught.tsx
  frontend/src/components/WebResume.tsx
  frontend/src/components/WorkExperience.tsx
  frontend/src/constants.ts
  frontend/src/tests/Description.test.tsx
  frontend/src/tests/WeatherApp.test.tsx
Due: isort, black, pylint, prettier, eslint

UI draft
  backend/.pylintrc
  backend/descriptions/admin.py
  backend/descriptions/migrations/0006_page_section_delete_description.py
  backend/descriptions/models.py
  backend/descriptions/serializers.py
  backend/descriptions/tests.py
  backend/descriptions/views.py
  frontend/src/App.tsx
  frontend/src/components/CardLayout.tsx
  frontend/src/components/Contact.tsx
  frontend/src/components/Descriptions.tsx
  frontend/src/components/Home.tsx
  frontend/src/components/Psychology.tsx
  frontend/src/components/SelfTaught.tsx
  frontend/src/components/WebResume.tsx
  frontend/src/components/WorkExperience.tsx
  frontend/src/tests/Description.test.tsx
Due: isort, black, pylint, prettier, eslint

CI/CD
  .github/workflows/deploy.yml
  backend/descriptions/migrations/0005_auto_20241126_2133.py
  backend/descriptions/tests.py
  frontend/public/contact.webp
  frontend/public/index.html
  frontend/public/locales/en/base.json
  frontend/public/psychology.png
  frontend/public/psychology.webp
  frontend/public/selfTaught.png
  frontend/public/selfTaught.webp
  frontend/public/selfTaughtFaded.png
  frontend/public/webResume.webp
  frontend/public/workExperience.webp
  frontend/src/App.tsx
  frontend/src/components/CardLayout.tsx
  frontend/src/components/Contact.tsx
  frontend/src/components/Home.tsx
  frontend/src/components/Logo.tsx
  frontend/src/components/Psychology.tsx
  frontend/src/components/SelfTaught.tsx
  frontend/src/components/WebResume.tsx
  frontend/src/components/WorkExperience.tsx
  frontend/src/index.css
  frontend/src/tests/App.test.tsx
  frontend/src/tests/Contact.test.tsx
  frontend/src/tests/Description.test.tsx
  frontend/src/tests/SelfTaught.test.tsx
Due: isort, black, pylint, prettier, eslint

CI/CD Build and Test Stages Pass
  .github/workflows/deploy.yml
  backend/Dockerfile
  backend/app/settings.py
  backend/poetry.lock
  backend/pyproject.toml
  docker-compose.yml
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/Home.tsx
  frontend/src/index.css
Due: isort, black, pylint, prettier, eslint

Github actions pipeline fix
  .github/workflows/deploy.yml
Due: none

Connect 1
  .github/workflows/deploy.yml
  backend/app/settings.py
Due: isort, black, pylint

Connection Test 2
  .github/workflows/deploy.yml
Due: none

Test 3
  .github/workflows/deploy.yml
Due: none

Test 4
  .github/workflows/deploy.yml
Due: none

Test 5
  .github/workflows/deploy.yml
Due: none

Test 6
  .github/workflows/deploy.yml
Due: none

Test 7
  .github/workflows/deploy.yml
  backend/app/settings.py
  docker-compose.yml
Due: isort, black, pylint

Test 8
  .github/workflows/deploy.yml
  docker-compose.yml
Due: none

Test 9
  .github/workflows/deploy.yml
  backend/app/settings.py
Due: isort, black, pylint

Test 10
  .github/workflows/deploy.yml
Due: none

test 11
  .github/workflows/deploy.yml
Due: none

test 12
  .github/workflows/deploy.yml
Due: none

test 13
  backend/app/settings.py
  backend/email_service/tests.py
Due: isort, black, pylint

test 14
  .github/workflows/deploy.yml
Due: none

test 15
  .github/workflows/deploy.yml
Due: none

test 16
  .github/workflows/deploy.yml
Due: none

test 17
  .github/workflows/deploy.yml
  frontend/Dockerfile
Due: none

test 18
  .github/workflows/deploy.yml
  backend/Dockerfile
  docker-compose.yml
  frontend/Dockerfile
  frontend/package-lock.json
Due: prettier

test 20
  .github/workflows/deploy.yml
  backend/email_service/tests.py
Due: isort, black, pylint

test 20
  backend/email_service/tests.py
Due: isort, black, pylint

test 20
  .github/workflows/deploy.yml
  docker-compose.yml
Due: none

Test 21
  .github/workflows/deploy.yml
  backend/email_service/tests.py
  docker-compose.yml
  frontend/Dockerfile
Due: isort, black, pylint

Test 22
  .github/workflows/deploy.yml
Due: none

Test 23
  .github/workflows/deploy.yml
Due: none

Path conditions:
  isort: any of: \.py$, but not: node_modules/
  black: any of: \.py$, but not: node_modules/
  pylint: any of: \.py$, but not: node_modules/
  prettier: any of: \.(j|t)sx?|css|html|md|json$, but not: node_modules/
  eslint: any of: \.[jt]sx?$, but not: node_modules/
