Repository keisler-au/web-resume: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, prettier, eslint

isort:
  name: isort
  language: system
  entry: bash -c "cd backend && poetry run isort ."

black:
  name: black
  language: system
  entry: bash -c "cd backend && poetry run black ."

pylint:
  name: pylint
  language: system
  entry: bash -c "cd backend && poetry run pylint ."

prettier:
  name: prettier
  language: system
  entry: bash -c "cd frontend && npx prettier . --write --log-level warn"

eslint:
  name: eslint
  language: system
  entry: bash -c "cd frontend && npx eslint . --fix"

fixture data
  backend/content/views.py
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/components/Home.tsx
  frontend/src/components/NavBar.tsx
  frontend/src/components/TabbedCards.tsx
  frontend/src/fixtureData.json
  frontend/src/theme.tsx
Due: isort, black, pylint, prettier, eslint

fixture data
  frontend/src/components/Content.tsx
Due: prettier, eslint

fixture data
  backend/Dockerfile
Due: none

fixture data
  frontend/src/tests/Content.test.tsx
Due: prettier, eslint

fixture data
  .github/workflows/deploy.yaml
  frontend/src/tests/Content.test.tsx
Due: prettier, eslint

chore - Set up CRA frontend
  README.md
  backend/Dockerfile
  backend/requirements.txt
  docker-compose.yml
  frontend/.gitignore
  frontend/Dockerfile
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/Contact.tsx
  frontend/src/components/DisplayData.tsx
  frontend/src/components/Home.tsx
  frontend/src/components/InfosysBHP.tsx
  frontend/src/components/NavBar.tsx
  frontend/src/components/RentalApp.tsx
  frontend/src/components/WeatherApp.tsx
  frontend/src/index.tsx
  frontend/src/react-app-env.d.ts
  frontend/src/reportWebVitals.ts
  frontend/src/setupTests.ts
  frontend/tsconfig.json
  package-lock.json
Due: prettier, eslint

chore - Set up Django backend
  .pre-commit-config.yaml
  backend/Dockerfile
  backend/app/__init__.py
  backend/app/__pycache__/__init__.cpython-39.pyc
  backend/app/__pycache__/settings.cpython-39.pyc
  backend/app/__pycache__/urls.cpython-39.pyc
  backend/app/__pycache__/wsgi.cpython-39.pyc
  backend/app/asgi.py
  backend/app/settings.py
  backend/app/tests.py
  backend/app/urls.py
  backend/app/wsgi.py
  backend/db.sqlite3
  backend/manage.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/requirements.txt
  docker-compose.yml
  frontend/.eslintrc.js
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/Contact.tsx
  frontend/src/components/DisplayData.tsx
  frontend/src/components/Home.tsx
  frontend/src/components/InfosysBHP.tsx
  frontend/src/components/NavBar.tsx
  frontend/src/components/RentalApp.tsx
  frontend/src/components/WeatherApp.tsx
  frontend/src/index.tsx
  frontend/src/reportWebVitals.ts
  frontend/src/routesConfig.tsx
  frontend/src/setupTests.ts
  frontend/tsconfig.json
  package-lock.json
Due: isort, black, pylint, prettier, eslint

chore - Set up Pre-commmit
  .pre-commit-config.yaml
  backend/poetry.lock
  frontend/src/App.test.tsx
Due: prettier, eslint

chore - Set up Docker containers
  .pre-commit-config.yaml
  backend/app/settings.py
  backend/app/urls.py
  backend/email_service/__init__.py
  backend/email_service/apps.py
  backend/email_service/migrations/__init__.py
  backend/email_service/serializers.py
  backend/email_service/tests.py
  backend/email_service/urls.py
  backend/email_service/views.py
  backend/poetry.lock
  backend/pyproject.toml
  frontend/package-lock.json
  frontend/package.json
  frontend/public/locales/en/base.json
  frontend/src/App.tsx
  frontend/src/components/Contact.tsx
  frontend/src/components/Description.tsx
  frontend/src/components/RentalApp.tsx
  frontend/src/components/WeatherApp.tsx
  frontend/src/setupTests.ts
  frontend/src/tests/Contact.test.tsx
  frontend/src/tests/Description.test.tsx
  frontend/src/tests/WeatherApp.test.tsx
Due: isort, black, pylint, prettier, eslint

fix - Docker containers running with docker-compose
  .pre-commit-config.yaml
  backend/app/settings.py
  backend/email_service/serializers.py
  backend/email_service/tests.py
  backend/email_service/views.py
  docker-compose.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/public/locales/en/base.json
  frontend/src/App.tsx
  frontend/src/components/Contact.tsx
  frontend/src/components/WeatherApp.tsx
  frontend/src/setupTests.ts
  frontend/src/tests/App.test.tsx
  frontend/src/tests/Contact.test.tsx
  frontend/src/tests/Description.test.tsx
Due: isort, black, pylint, prettier, eslint

feature - Built App routing
  backend/.pylintrc
  backend/descriptions/migrations/0004_alter_description_page.py
  backend/descriptions/migrations/0005_auto_20241126_2133.py
  backend/descriptions/models.py
  backend/descriptions/urls.py
  backend/descriptions/views.py
  backend/email_service/tests.py
  backend/email_service/views.py
  frontend/public/Mountain.jpg
  frontend/src/App.tsx
  frontend/src/components/Contact.tsx
  frontend/src/components/Description.tsx
  frontend/src/components/Errors.tsx
  frontend/src/components/Home.tsx
  frontend/src/components/InfosysBHP.tsx
  frontend/src/components/Psychology.tsx
  frontend/src/components/SelfTaught.tsx
  frontend/src/components/WebResume.tsx
  frontend/src/components/WorkExperience.tsx
  frontend/src/constants.ts
  frontend/src/tests/App.test.tsx
  frontend/src/tests/Description.test.tsx
  frontend/src/tests/WeatherApp.test.tsx
Due: isort, black, pylint, prettier, eslint

feature - Built Navigation Bar
  .github/workflows/deploy.yml
  backend/.pylintrc
  backend/descriptions/admin.py
  backend/descriptions/migrations/0005_auto_20241126_2133.py
  backend/descriptions/migrations/0006_page_section_delete_description.py
  backend/descriptions/models.py
  backend/descriptions/serializers.py
  backend/descriptions/tests.py
  backend/descriptions/views.py
  frontend/public/contact.webp
  frontend/public/index.html
  frontend/public/locales/en/base.json
  frontend/public/psychology.png
  frontend/public/psychology.webp
  frontend/public/selfTaught.png
  frontend/public/selfTaught.webp
  frontend/public/selfTaughtFaded.png
  frontend/public/webResume.webp
  frontend/public/workExperience.webp
  frontend/src/App.tsx
  frontend/src/components/CardLayout.tsx
  frontend/src/components/Contact.tsx
  frontend/src/components/Descriptions.tsx
  frontend/src/components/Home.tsx
  frontend/src/components/Logo.tsx
  frontend/src/components/Psychology.tsx
  frontend/src/components/SelfTaught.tsx
  frontend/src/components/WebResume.tsx
  frontend/src/components/WorkExperience.tsx
  frontend/src/index.css
  frontend/src/tests/App.test.tsx
  frontend/src/tests/Contact.test.tsx
  frontend/src/tests/Description.test.tsx
  frontend/src/tests/SelfTaught.test.tsx
Due: isort, black, pylint, prettier, eslint

feature - Built Contact page UI
  .github/workflows/deploy.yml
  backend/Dockerfile
  backend/app/settings.py
  backend/poetry.lock
  backend/pyproject.toml
  docker-compose.yml
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/Home.tsx
  frontend/src/index.css
Due: isort, black, pylint, prettier, eslint

fix - Contact tests to pass
  .github/workflows/deploy.yml
  backend/app/settings.py
Due: isort, black, pylint

feature - Built email_service api
  .github/workflows/deploy.yml
  backend/app/settings.py
  backend/email_service/tests.py
Due: isort, black, pylint

fix - Emails sending successfully
  .github/workflows/deploy.yml
  frontend/Dockerfile
Due: none

feature - Built PageLayout component
  .github/workflows/deploy.yml
  backend/Dockerfile
  backend/email_service/tests.py
  docker-compose.yml
  frontend/Dockerfile
  frontend/package-lock.json
Due: isort, black, pylint, prettier

feature - Built Content component for data retrieval
  .github/workflows/deploy.yml
  docker-compose.yml
  frontend/Dockerfile
Due: none

chore - Page layout reformatting
  .github/workflows/deploy.yml
Due: none

chore - Content render propping refactoring
  .github/workflows/deploy.yml
  backend/Dockerfile
  backend/poetry.lock
  backend/pyproject.toml
  docker-compose.yml
  frontend/Dockerfile
Due: none

feature - Create Django models
  .github/workflows/deploy.yml
  backend/app/settings.py
Due: isort, black, pylint

feature - Added Tab components
  .github/workflows/deploy.yml
  backend/Dockerfile
  frontend/Dockerfile
  frontend/src/constants.ts
Due: prettier, eslint

fix - All tests passing
  .github/workflows/deploy.yaml
Due: none

feature - Created CI/CD
  .github/workflows/deploy.yaml
  backend/Dockerfile
  frontend/Dockerfile
  frontend/public/JK.webp
  frontend/public/index.html
Due: prettier

fix - Github actions pipeline passing
  .github/workflows/deploy.yaml
Due: none

feature - Set up AWS
  .github/workflows/deploy.yaml
  compose.yaml
Due: none

fix - Connected ALB to healthy target groups
  .github/workflows/deploy.yaml
  nginx.conf
  production.yaml
Due: none

feature - Deployed to AWS
  .github/workflows/deploy.yaml
  backend/app/settings.py
  frontend/src/components/Contact.tsx
  frontend/src/components/PageLayout.tsx
  nginx.conf
  production.yaml
Due: isort, black, pylint, prettier, eslint

feature - Added theme.tsx and styling
  backend/content/migrations/0002_auto_20241225_2036.py
  backend/content/views.py
  frontend/public/cv_photo.jpg
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/components/Contact.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/Home.tsx
  frontend/src/components/NavBar.tsx
  frontend/src/components/PageLayout.tsx
  frontend/src/components/Projects.tsx
  frontend/src/components/TabbedCards.tsx
  frontend/src/fixtureData.json
  frontend/src/slider-styles.css
  frontend/src/theme.tsx
Due: isort, black, pylint, prettier, eslint

chore - Refactored PageLayout and header consistency
  backend/Dockerfile
  frontend/src/components/Content.tsx
  frontend/src/tests/Content.test.tsx
Due: prettier, eslint

feature - Deployed to VPS
  .github/workflows/deploy.yaml
  frontend/src/tests/Content.test.tsx
Due: prettier, eslint

fix - Backend configuration updates
  .github/workflows/deploy.yaml
  backend/app/settings.py
Due: isort, black, pylint

chore - Data revision
  backend/content/migrations/0002_auto_20241225_2036.py
  frontend/src/App.tsx
  frontend/src/components/Content.tsx
  frontend/src/fixtureData.json
Due: isort, black, pylint, prettier, eslint

chore - Optimised ContentData view query
  backend/content/migrations/0002_auto_20241225_2036.py
  backend/content/views.py
Due: isort, black, pylint

fix - Tests passing in pipeline
  .github/workflows/deploy.yaml
Due: none

fix - Django Database settings
  .github/workflows/deploy.yaml
Due: none

fix - Nginx routing
  backend/app/settings.py
  frontend/src/components/Contact.tsx
  nginx.conf
Due: isort, black, pylint, prettier, eslint

fix - Nginx routing
  .gitignore
  backend/Dockerfile
  backend/app/settings.py
  frontend/Dockerfile
  frontend/src/components/Contact.tsx
  nginx.conf
Due: isort, black, pylint, prettier, eslint

Path conditions:
  isort: any of: \.py$, but not: node_modules/
  black: any of: \.py$, but not: node_modules/
  pylint: any of: \.py$, but not: node_modules/
  prettier: any of: \.(j|t)sx?|css|html|md|json$, but not: node_modules/
  eslint: any of: \.[jt]sx?$, but not: node_modules/
